:root 
    --primary-color: #3498db
    --secondary-color: #e63946
    --background-color: #ecf0f1
    --text-color: #000
    --font-family: 'Arial, sans-serif'
    --font-size: 16px
    --line-height: 1.5


.loading 
    display: flex 
    justify-content: center
    align-items: center