:root
  --primary-color: #3498db
  --secondary-color: #e63946
  --background-color: #253A27
  --text-color: #fff
  --font-family: poppins, sans-serif
  --font-size: 16px
  --line-height: 1.5

body
  font-family: var(--font-family)
  margin: 0
  padding: 0
  background-color: var(--background-color)
  min-height: 100vh

  .header 
    display: flex
    justify-content: space-between
    align-items: center
    margin: 40px
    padding: 10px

    a
      text-decoration: none
      color: var(--text-color)
      font-size: 1rem
      font-weight: 500

    button
      font-size: 1rem
      font-weight: 500
      background-color: Transparent
      background-repeat:no-repeat
      color: var(--text-color)
      border: none
      cursor: pointer

  .content 
    height: 100%
    background-color: var(--text-color)

  .footer 
    height: 100%
    display: flex
    justify-content: flex-start
    justify-content: space-between
    margin: 40px
    padding: 10px
    
    
    a
      text-decoration: none
      color: var(--text-color)
      font-size: 1rem
      font-weight: 500
    

